<div class="col-12 col-sm-6 col-md-4 my-5 text-center staff">
    {{ fields.field_image.content }}
    <h3>{{ fields.title.content }}</h3>
    <p class="sm pri-text font-weight-bold"> {{ fields.field_designation.content }} </p>
    <p class="sm">
        {{ fields.field_testimonial_text.content }}
    </p>
    <div class="col">
        {{ fields.field_social_links.content }}
    </div>
</div>
